.strike-price {
    text-decoration: line-through;
    text-decoration-color: brown;
    text-decoration-thickness: 2px;
    font-size: smaller;
    line-height: 0.5;
}

.card-title {
    line-height: 20px;
    /* 2 строки */
    max-height: 48px;    
    overflow: hidden; 
}

.card-text {
    line-height: 20px;
    /* 3 строки */
    max-height: 60px;
    overflow: hidden;
}