.groups-widget {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.groups-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 15px;
}

.groups-container a {
    text-align: center;
    text-decoration: none;
    color: #444;
}
.groups-container img {
    width: 144px;
}
.groups-crop {
    /* width: 100%; */
    flex: 1;
    /* overflow: hidden; */
}

.groups-container a {
    position: relative;
    display: inline-block;
}

.group-link {
    position: relative;
    display: inline-block;
}

.texttip {
    display: none;
    position: absolute;
    bottom: 140px;
    width: max-content;
    max-width: 145px;

    background-color: #484c50a2;
    color: #fff;
    padding: 3px 5px;
    font-size: 12px;
}

.group-link:hover .texttip {
    display: block;
}

