#root {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
}
.preloader {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    max-height: 95vh;
    background-color: #bbbbbbbb;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.preloader img {
    max-width: 25vw;
    max-height: 25vw;
}
footer {
    padding: 1em 2em;
}
.nav-link {
    font-size: larger;
}
.cart-nav {
    position: relative;
    display: inline-block;
}
.cart-count {
    position: absolute;
    top: -5px;
    left: -5px;
    width: 18px;
    height: 18px;
    background-color: rgba(3, 111, 3, 0.697);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 6px;

}
.cart-nav span {
    position: absolute;
    right: 3px;
    top:0;
    font-size: smaller;
}